@model IEnumerable<UTS.ProduceStore.WebFrontEnd.Models.Rule>

@{
    ViewBag.Title = "Index";
}

<h2>Approver Page</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegularExpression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegExGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegularExpression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegExGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RuleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RuleId }) |
        </td>
    </tr>
}

</table>
