@using UTS.ProduceStore.WebFrontEnd.Models
@model EditorViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.PendingRules.Count > 0)
{
    <table class="table">
        <tr>
            <th>Regular Expression</th>
            <th>RegExGroup</th>
            <th>Query</th>
            <th>RuleStatus</th>
            <th>LastUpdateUser</th>
        </tr>

        @foreach (var item in Model.PendingRules)
        {
            <tr>
                <td>@item.RegularExpression</td>
                <td>@item.RegExGroup</td>
                <td>@item.Query</td>
                <td>@item.RuleStatus</td>
                <td>@item.LastUpdateUser</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RuleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RuleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RuleId })
                </td>
            </tr>
        }

    </table>
}
<h2>Rejected Rules</h2>
@if (Model.RejectedRules.Count > 0)
{
    <table class="table">
        <tr>
            <th>Regular Expression</th>
            <th>RegExGroup</th>
            <th>Query</th>
            <th>RuleStatus</th>
            <th>LastUpdateUser</th>
        </tr>

        @foreach (var item in Model.RejectedRules)
        {
            <tr>
                <td>@item.RegularExpression</td>
                <td>@item.RegExGroup</td>
                <td>@item.Query</td>
                <td>@item.RuleStatus</td>
                <td>@item.LastUpdateUser</td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.RuleId })
                </td>
            </tr>
        }

    </table>
}